body {
  background-color: #EDEDED;
}

nav {
  width: 960px;
  height: 5rem;
  margin-top: .5rem;
}

.navbar-brand {
  background-color: #41A9A4;
  border-color: #cccccc;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  height: 5rem;
  width: 15rem;
}

#contentarea {
  width: 960px;
}

#aboutcard, #contactcard, #portfolio-rows {
  margin-top : 7rem;
  width: 622px;
}

#aboutmetext, #connectmetext, #contacttitle, #portfoliotitle {
  color: #45AAA5;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
}

/*
#portfolio-rows {
  border: 1px solid darkgray;
}
*/

#portfoliotitle {
  margin-top: 7rem;
}

.rgtcol {
  padding-left: 4rem;
}

.captiontext {
  color: #FFFFFF;
  background-color: #45AAA5;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
/*  font-weight: bold; */
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
  position: relative;
  top: -15%;
  left: 60%;
}

#bio-text {
  line-height: 200%;
  font-size: 90%;
}

#connectmetext {
  font-size: 1.15rem;
}

#socialcard, #socialcard2, #socialcard3 {
  width: 270px;
  height: 10rem;
  display: inline-block;
}

#socialcard {
  margin-top: -26.2rem;
}

#socialcard2 {
  margin-top: -36.5rem;
}

#socialcard3 {
  margin-top: -55.1rem;
}

#social-buttons {
  margin-left:  auto;
  margin-right: auto;
  width: 270px;
}

.social-button {
  height: 48px;
  width:  48px;
}

footer {
  background-color: #666666;
  width: 100%;
}

.footer-copyright {
  font-size: x-small;
  width: 100%;
  padding-top: 4.0rem;
}

hr.style8 {
  border-top: 1px solid #8C8B8B;
  border-bottom: 1px solid #fff;
}

hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-bottom: 1px solid #fff;
}

#message {
  height: 14em;
}

#postcomment {
  color: white;
  background-color: #41A9A4;
}

.portfolio-image {
  width:  300px;
  height: 230px;
}
